* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}

body {
    font-family: Helvetica,'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #E5E7EB;
    max-width: 1400px;
}

.header{
    background-color:#1F2937 ;
    min-height: 500px;
}

.container {
    margin: 0 100px;
    padding: 20px ;

}

.header .container .head-top {
    display: flex;
    justify-content: space-between;
} 
.head {
    font-size:24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
}

a:hover {
    color: #0000ff;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 50px 50px 80px;;
}


h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1.2;
}

h1, h2 {
    margin-bottom: 15px;
}   

button {
    background-color: #3882F6;
    border:none;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 16px;
    width: 120px;
    flex-shrink: 0;
}

.container .bot img {
    min-width: 400px;
    max-height: 250px;
    margin: 100px 50px 50px 80px;
}

/* ================= */
.information {
    min-height: 500px;
    background-color:white;
}

.main-heading {
    
    display: flex;
    flex-direction: column;
    color: #1F2937;
    border-radius: 10px;
    padding-top: 12px;
}

.information .main-heading h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-container {
    display: flex;
    justify-content: center;
}



.info {
    max-width: 200px;
    max-height: 200px;
}

.info-container .info img {
    max-width: 200px;
    max-height: 200px;
    margin: 12px;
}

/* ================ */
.quotation {
    min-height: 500px;
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 250px;
    border-radius: 10px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotation .author {
    font-size: 28px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    margin-top: 1px;
    justify-content: flex-end;
}
/* ================ */
.signup {
    display: flex;
    background-color: white;
    color: white;
    min-height: 200px;
    align-items: center;
    border-radius: 10px;

}

.sign-container {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    max-width: 800px;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sign-container  button {
    border: 1px solid #1F2937;
    border-radius: 8px;
    font-size: 18px;
    /* padding: 8px 16px; */
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    color: white;
}

.sign {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
}
/* ================ */
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.foot {

}